html {
    background-color: aliceblue;
}

.home {
    padding: 3rem 2rem;
    color: black;
}

.home h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home p {
    color: #aaa;
    font-size: 1.1rem;
}